#masthead {
    position: fixed;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: black;
    background: blue;
    border-bottom: 2px solid black;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

nav {
    float: right;
    margin-top: 25px;
}

nav a {
    display: inline;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: black;
    text-decoration:none;
    border-left: 1 px solid black;
}

nav a:first-child {
    border-left: 0 none;
}

.sidebar {
    float: right;
    width: 100%;
    max-width: 270px;
    padding: 30px;
    margin-bottom: 20px;
    background: green;
    border: 1px solid red;
}

.social {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
}

h3, .sidebar h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid blue;
}

#main-container {
    padding: 130px;
}

.main-container {
    float: left;
    width: 100%;
    max-width: 650px;
    padding: 30px;
    margin: 0 0 40px;
    background-color: white;
    border: 1px solid white;
}

.auth-image {
    float: left;
    width: 200px;
    height:auto;
    margin-top: 10px;
    margin-right: 25px;
}

footer {
    padding: 30px;
    clear: both;
    font-size: 12px;
    color: yellow;
    text-align: center;
    background: black;
    border-top: 8px solid orange;
    
}